<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> 

<br> 

<ion-content class="ion-padding login-page">
  <div class="login-container">
     Botón de Google 
    <div>
      <ion-button expand="block" fill="outline" class="google-btn" (click)="signInWithGoogle()">
        Iniciar con Google
        <img class="social-logo" src="https://auth.openai.com/assets/google-logo-NePEveMl.svg" alt="Logo de Google">
      </ion-button>
    </div>
  </div>
</ion-content>